#btnClose {
    border-radius: 10px;
}
#btnClose:hover {
    background-color: #AA0000;
}
#btnClose:pressed {
    background-color: #840808;
}

#btnSave {
    background-color: transparent;
    border-radius: 10px;
}
#btnSave:hover {
    background-color: #616766;
}
#btnSave:pressed {
    background-color: #404444;
}

#lblUsername{
    color: #FFFFFF;
    font-size: 42px;
    font-family: "Segoe UI", sans-serif;
    font-weight: 1500;
}
